<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
    <dict>
        <key>assets</key>
        <array>
            <dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://dl.dropboxusercontent.com/scl/fi/1oel49xzecn6jyzn2fgnm/MSOA_UAT_1.5.4_M2023169.ipa?rlkey=yk7da7d2tltyq5x24q5r9iqk9</string>
            </dict>
        </array>
        <key>metadata</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.nccc.ncccmsoa</string>
            <key>bundle-version</key>
            <string>1.5.4</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>MSOA_SIT</string>
        </dict>
    </dict>
</array>
</dict>
</plist>
