<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
    <dict>
        <key>assets</key>
        <array>
            <dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://dl.dropboxusercontent.com/scl/fi/g2fq47qaqz21ttzh7p9p8/NCCCmPOS_UAT_2.7.3_20240815.ipa?rlkey=169cm0pdoqvihe2bxxjtzjfuk</string>
            </dict>
        </array>
        <key>metadata</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.nccc.ncccmpos</string>
            <key>bundle-version</key>
            <string>2.7.3</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>mPOS_UAT</string>
        </dict>
    </dict>
</array>
</dict>
</plist>
