<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
    <dict>
        <key>assets</key>
        <array>
            <dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://dl.dropboxusercontent.com/scl/fi/wha1s9sub20zgizzkx3u3/NCCCmPOS_UAT_2.7.8_20260504.ipa?rlkey=ai689cmr4f48rtb80hykmq7gj</string>
            </dict>
        </array>
        <key>metadata</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.nccc.ncccmpos</string>
            <key>bundle-version</key>
            <string>2.7.8</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>mPOS_UAT_swift</string>
        </dict>
    </dict>
</array>
</dict>
</plist>
